<h1 class="heading">Components interactions</h1>
<p>Components are custom directives, they consist of a template and a class</p>
<p>in the examples below, we will mention all needed interaction methods related to components with examples. </p>


<h2>Class  & its template</h2>
<ul>
  <li> Binding</li>
  <li> Two-way Binding split</li>
  <li> Getters and Setters</li>
  <li> ViewChild</li>
</ul>
<img src="/src/assets/images/binding.png" alt="" width="200">
<app-binding></app-binding>
<app-parent></app-parent>
