<div class="nested_sections">
  <h2>@Input to pass variable <span class="color">{{ EmployeeName || 'XXX' }} </span> from input to child Component</h2>
  <div class="nested_sections_content">
    <input type="text" placeholder="This value will be passed to child" [(ngModel)]="EmployeeName">
    <div class="section">
      <h3>Using Getters and Setters</h3>
      <p>Value is <span class="color">{{EmployeeName || 'xxx'}}</span></p>
      <app-child [childValue]="EmployeeName"></app-child>
    </div>

    <div class="section">
      <h3>Using Template Ref</h3>
      <p>Value is <span class="color">{{templateValue.name || 'xxx'}}</span></p>
      <app-child #templateValue [childValue]="EmployeeName" (toParent)="setEmployeeName($event)"></app-child>

    </div>
  </div>
</div>
